
/* ----------------------- 1280 ----------------------- */
@media screen and (max-width: 1280px) {
    .nav{
        width: 420px;
    }

    .wrapper_2{
        width: 90vw;
    }

    .wrapper_2 .card li{
        height: 380px;
        margin: 10px;
        padding: 30px;
        padding-bottom: 0px;
        padding-top: 20px;
    }

    .wrapper_2 .card img{
        align-self: flex-end;
        width: 40px;
        margin-top: 20px;
    }

    .section_2cardContent{
        margin-top: 80px;
    }

    /* Banner */
    .text h1{
        margin-left: 120px;
    }

    .text h2{
        margin-left: 120px;
    }

    .bannerImg img{
        margin-right: 120px;
    }


    /* NFT Markeplace */
    .tradingList{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .listRight .column{
        display: none;
    }

    /* NFT Product */
    .nftProducts .content{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 32%);
        grid-gap: 10px;
    }


    /* Buy NFT */
    .nftBuyImg{
        width: 400px;
        display: flex;
        align-items: center;
    }

    .nftLeftContent{
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .listings .column .columnFrom{
        width: 80px;
        text-align: right;
        margin-left: 0px;
        margin-right: 20px;
    }

    .listings .list .from{
        width: 80px;
        margin-left: 20px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    

}

/* ----------------------- 1020 ----------------------- */
@media screen and (max-width: 1020px) {
    .nav{
        width: 420px;
    }

    .wrapper_2{
        width: 90vw;
    }

    .wrapper_2 .card li{
        width: 350px;
        padding: 40px;
        margin: 0 10px;
    }

    .wrapper_2 .card img{
        align-self: flex-end;
        width: 40px;
        margin-top: 20px;
    }

    .section_2cardContent{
        margin-top: 80px;
    }

    .wrapper_2 .card li{
        height: 380px;
        margin: 10px;
        padding: 20px;
        padding-bottom: 0px;
        padding-top: 20px;
    }



    /* Banner */
    .text h1{
        margin-left: 105px;
    }

    .text h2{
        margin-left: 105px;
    }

    .bannerImg img{
        margin-right: 105px;
    }


}

/* ----------------------- 1000 ----------------------- */
@media screen and (max-width: 1000px) {

    .slideContent h1{
        font-size: 36px;
    }

    .slideContent h2{
        font-size: 18px;
    }

    .wrapper_2{
        width: 90vw;
    }

    .wrapper_2 h2{
        font-size: 32px;
    }

    .wrapper_2 p{
        font-size: 20px;
    }

    .card li h2{
        font-size: 28px;
    }

    .card li h3{
        font-size: 36px;
    }

    .card li p{
        font-size: 14px;
    }

    .wrapper_3 h1{
        font-size: 32px;
    }

    .wrapper_3 h2{
        font-size: 20px;
    }

    .wrapper_4 h1{
        font-size: 32px;
    }

    .wrapper_4 h2{
        font-size: 20px;
    }

    .wrapper_5 p{
        font-size: 20px;
    }

    .wrapper_6 h2{
        font-size: 32px;
    }

    .wrapper_6 p{
        font-size: 20px;
    }

    .wrapper_7 h1{
        font-size: 32px;
    }

    .wrapper_7 h2{
        font-size: 20px;
    }

    .wrapper_8 h2{
        font-size: 32px;
    }

    .wrapper_8 p{
        font-size: 20px;
    }

    footer .logo{
        margin-right: 5vw;
    }

    /* Buy NFT */
    .nftBuyImg{
        width: 340px;
        display: flex;
        align-items: center;
    }

    .nftLeftContent{
        width: 340px;
        display: flex;
        flex-direction: column;
    }

    .listings .column .columnFrom{
        width: 80px;
        text-align: right;
        margin-left: 0px;
        margin-right: 20px;
    }

    .listings .list .from{
        width: 80px;
        margin-left: 20px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}


/* ----------------------- 960 ----------------------- */
@media screen and (max-width: 960px) {
    .nav{
        width: 380px;
    }

    .swiper-pagination{
        width: 820px;
    }

    .wrapper_2{
        width: 95vw;
    }

    .wrapper_2 .card li{
        width: 350px;
        padding: 10px;
        margin: 0 10px;
    }

    .wrapper_2 .card ul{
        align-items: center;
    }

    .wrapper_2 .card img{
        align-self: flex-end;
        width: 40px;
        margin-top: 20px;
    }

    .section_2cardContent{
        margin-top: 80px;
    }

    .wrapper_2 .card li{
        height: 380px;
        margin: 10px;
        padding: 20px;
        padding-bottom: 0px;
        padding-top: 20px;
    }
 
    /* Banner */
    /* Farm */ /* Pool */
    .text h1{
        font-size: 32px;
        margin-left: 100px;
    }

    .text h2{
        font-size: 26px;
        margin-left: 100px;
    }

    .bannerImg img{
        margin-right: 50px;
    }  

}

/* ----------------------- 900 ----------------------- */
@media screen and (max-width: 900px) {
    
    .nav{
        margin-left: 78px;
    }

    .switch{
        right: 176px;
    }

    .toper .connectBtn{
        width: 128px;
    }

    .walletBtn-box {
        width: 128px;
        height: 46px;
        border: 0;
        position: absolute;
        top: 12px;
        right: 30px;
        display: none;
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    }
    
    .walletBtn-box-text{
        width: 65%;
        margin: 0;
        padding: 0 15px;
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        line-height: 46px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
    }
    

    /* farm */ /* Pool */

    .banner{
        height: 150px;
    }

    .text h1{
        font-size: 36px;
        margin-left: 100px;
    }

    .text h2{
        font-size: 28px;
        margin-left: 100px;
    }

    .bannerImg img{
        width: 260px;
        margin-right: 100px;
    }

    .wrapperEarn .card{
        width: 95%;
    }

    /* Buy NFT */
    .nftBuyImg{
        width: 320px;
        display: flex;
        align-items: center;
    }

    .nftLeftContent{
        width: 320px;
        display: flex;
        flex-direction: column;
    }

    .nftBuyDiscript h1{
        font-weight: 700;
        font-size: 32px;
        line-height: 24px;
        margin-top: 50px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .nftBuyDiscript .owned{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 60px;
    }

    .nftBuyDiscript .currentPrince{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .nftBuyDiscript .price{
        font-weight: 500;
        font-size: 32px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .buyNftBtn .mainBtn{
        width: 160px;
        height: 46px;
        border: 0;
        line-height: 46px;
        background: #5EC4D1;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        margin-left: 5px;
        margin-right: 20px;
    }

    .listings .column .columnFrom{
        width: 80px;
        text-align: right;
        margin-left: 0px;
        margin-right: 20px;
    }

    .listings .list .from{
        width: 80px;
        margin-left: 20px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .properties .type p{
        font-size: 14px;
    }

    .listings .list .topImg{
        width: 60px;
        height: 60px;
        border-radius: 10px
    }
    
    .listings .list{
        font-size: 14px;
    }

    .listings .list .topName{
        flex-grow: 1;
        text-align: left;
        margin-left: 10px;
    }

    .properties .type p:last-child.light{
        width: 58px;
        margin-right: 0px;
    }
    .properties .type p:last-child.dark{
        width: 58px;
        margin-right: 0px;
    }

}

/* ----------------------- 820 ----------------------- */
@media screen and (max-width: 820px) {

    /* index */

    .swiper-pagination{
        width: 680px;
    }

    .slideContent{
        padding-left:4vw;
    }

    .swiper-pagination-bullet:first-child{
        margin-left: 4vw;
    }

    .wrapper_2{
        width: 95vw;
    }

    .wrapper_2 .card li{
        width: 350px;
        padding: 10px;
        margin: 0 10px;
    }

    .wrapper_2 .card ul{
        align-items: center;
    }

    .wrapper_2 .card img{
        align-self: flex-end;
        width: 40px;
        margin-top: 20px;
    }

    .section_2cardContent{
        margin-top: 80px;
    }

    .wrapper_2 .card li{
        height: 380px;
        margin: 10px;
        padding: 20px;
        padding-bottom: 0px;
        padding-top: 20px;
    }
    
    .swiper-pagination h3{

        font-size: 20px;
        line-height: 30px;
    }

    .wrapper_5 .contentImg{
        width: 0%;
    }

    .wrapper_5 .card{
        width: 100%;
        margin-left: 5vw;
    }

    .gradient{
        display: none;
    }

    .section_9 .logo{
        width: 160px;
        margin-right: 2.5%;
    }

    .section_9 .list ul{
        margin-left: 7vw;;
    }

    .section_9 .socialMedia li:first-child{
        margin-left: 5vw;;
    }


    /* wallet */

    /* =======================dialog======================= */

    #lightbox > .dialog{
        background-color: white;
        width: 90%;
        max-width: 800px;
        border-radius: 30px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        border: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        overflow: hidden;
    }

    .connectWallet{
        width: 50%;
        padding: 35px 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px 30px 0 0;
        box-sizing: border-box;
    }

    .connectWallet h2{
        font-weight: 700;
        font-size: 18px;
        line-height: 54px;
    }

    .connectWallet p{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    .wallets ul{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .connectWallet .wallets li{
        flex-grow: 1;
        margin: 10px 0 0;
    }

    .wallets .wallet{
        width: 100px;
        height: 100px;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }

    .wallets .wallet p{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .moreWallet{
        width: 65px;
        height: 65px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .learnConnect{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 25px 25px;
        box-sizing: border-box;
    }

    .learnConnect h2{
        font-weight: 700;
        font-size: 18px;
        line-height: 54px;
    }

    .walletImg{
        width: 80%;
        margin-top: -20px;
        flex-grow: 1;
        background-image: url(../img/wallet.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .walletImg img{
        width: 100%;
    }

    .learnConnectBtn{
        width: 220px;
        height: 50px;
        border: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 46px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }

    /* Farm */ /* Pool */

    .text h1{
        font-size: 32px;
        margin-left: 100px;
    }

    .text h2{
        font-size: 26px;
        margin-left: 100px;
    }

    .bannerImg img{
        margin-right: 50px;
    }



    /* Buy NFT */
    .nftBuyImg{
        width: 280px;
        display: flex;
        align-items: center;
    }

    .nftLeftContent{
        width: 280px;
        display: flex;
        flex-direction: column;
    }

    .nftBuyDiscript h1{
        font-weight: 700;
        font-size: 32px;
        line-height: 24px;
        margin-top: 50px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .nftBuyDiscript .owned{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .nftBuyDiscript .currentPrince{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .nftBuyDiscript .price{
        font-weight: 500;
        font-size: 32px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .buyNftBtn .mainBtn{
        width: 160px;
        height: 46px;
        border: 0;
        line-height: 46px;
        background: #5EC4D1;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        margin-left: 5px;
        margin-right: 20px;
    }

    .listings .column .columnFrom{
        width: 80px;
        text-align: right;
        margin-left: 0px;
        margin-right: 20px;
    }

    .listings .list .from{
        width: 80px;
        margin-left: 20px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .properties .type p{
        font-size: 14px;
    }

    .listings .list .topImg{
        width: 60px;
        height: 60px;
        border-radius: 10px
    }
    
    .listings .list{
        font-size: 14px;
    }

    .listings .list .topName{
        flex-grow: 1;
        text-align: left;
        margin-left: 10px;
    }

    .nftBuyInfo{
        height: 320px;
    }

}

/* ----------------------- 780 ----------------------- */
@media screen and (max-width: 780px) {


    /* Wallet */
    
    .wallets .wallet{
        margin: 0 auto;
    }

    .connectWallet{
        width: 57.5%;
    }

    .learnConnect{
        width: 42.5%;
    }

    .learnConnect h2{
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
    }

    .walletImg{
        width: 100%;
        margin-top: -20px;
        flex-grow: 1;
        background-image: url(../img/wallet.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    /* Banner */
    /* Farm */ /* Pool */
    .text h1{
        font-size: 32px;
        margin-left: 50px;
    }

    .text h2{
        font-size: 26px;
        margin-left: 50px;
    }

    .bannerImg img{
        margin-right: 50px;
    }

    .wrapperEarn .pool{
        width: 250px;
        padding: 15px;
    }

    .farm{
        width: 240px;
        padding: 20px;
    }

    .farm .subCoinLogo{
        width: 35px;
        left: 20px;
    }

    .farm .coinLogo{
        width: 50px;
        top: 45px;
        left: 40px;
    }

    .pair{
        margin-right: 20px;
        top: 45px;
    }

    .wrapperEarn .pool .coinLogo{
        width: 50px;
        right: 30px;
    }

    .wrapperEarn .pool .subCoinLogo{
        width: 30px;
        right: 15px;
    }

    .wrapper_9{
        margin-top: 310px;
    }

    /* NFT Product */
    .nftProducts .content{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 49%);
        grid-gap: 10px;
    }

    .nftDiscript p{
        display: block;
        width: 100%;
    }


    /* Buy NFT */

    .nftBuy{
        padding: 10px;
    }

    .nftBuyImg{
        width: 230px;
        display: flex;
        align-items: center;
    }

    .nftSubContent{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;
    }

    .nftLeftContent{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .nftProperties{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .nftBuyDiscript h1{
        font-weight: 700;
        font-size: 28px;
        line-height: 20px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .nftBuyDiscript .owned{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .nftBuyDiscript .currentPrince{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .nftBuyDiscript .price{
        font-weight: 500;
        font-size: 26px;
        line-height: 18px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .buyNftBtn .mainBtn{
        width: 140px;
        height: 42px;
        border: 0;
        line-height: 42px;
        background: #5EC4D1;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        margin-left: 5px;
        margin-right: 20px;
    }

    .buyNftBtn .secondBtn{
        width: 130px;
        height: 42px; /* border, so top & botton - 4px */
        font-weight: 600;
        font-size: 16px;
        color: #5EC4D1;
        border: 2px solid #5EC4D1;
        background: rgba(0, 0, 0, 0);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        text-align: center;
    }

    .listings .column .columnFrom{
        width: 200px;
        text-align: right;
        margin-left: 0px;
        margin-right: 20px;
    }

    .listings .list .from{
        width: 200px;
        margin-left: 20px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .properties .type p{
        font-size: 14px;
    }

    .listings .list .topImg{
        width: 60px;
        height: 60px;
        border-radius: 10px
    }
    
    .listings .list{
        font-size: 14px;
    }

    .listings .list .topName{
        flex-grow: 1;
        text-align: left;
        margin-left: 10px;
    }

    .nftBuyInfo{
        width: 40%;
        height: 278px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 0px;
        margin-left: 15px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    .nftListings{
        width: 100%;
        flex-grow: 1;
        margin: 0 auto;
        margin-left: 0px;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 0px;
    }


}

/* ----------------------- 680 ----------------------- */
@media screen and (max-width: 680px) {

    /* ==================index================== */

    header{
        height: 60px;
    }

    .toper{
        height: 60px;
    }

    .nav{
        display: none;
    }

    footer{
        display: block;
    }

    .toper img{
        height: 45px;
        top: 9px;
    }

    .toper .connectBtn{
        width: 128px;
        height: 42px;
        line-height: 42px;
        right: 30px;
        font-size: 14px;
        top:9px
    }

    .walletBtn-box {
        width: 128px;
        height: 42px;
        border: 0;
        position: absolute;
        top: 9px;
        right: 30px;
        display: none;
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    }
    
    .walletBtn-box-text{
        width: 65%;
        margin: 0;
        padding: 0 15px;
        color: #ffffff;
        font-weight: 600;
        font-size: 14px;
        line-height: 42px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
    }

    .switch{
        width: 42px;
        height: 42px;
        right: 165px;
        top: 9.5px;
    }

    .material-icons{
        line-height: 50px;
    }

    .contentBtn .mainBtn{
        width: 160px;
        height: 42px;
        line-height: 42px;
        margin-right:15px;
    }

    .contentBtn .secondBtn{
        width: 120px;
        height: 39px;
        line-height: 38px;
    }

    /* Wallet */

    #lightbox > .dialog{
        background-color: white;
        width: 100%;
        max-width: 100%;
        border-radius: 30px 30px 0 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        border: none;
        top: 0;
        top: auto;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
        z-index: 11;
        overflow: hidden;
    }

    .wallets .wallet{
        height: 100px;
    }

    .wallets ul{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 90px);
        grid-gap: 10px;
    }

    .wallets .wallet{
        margin: 0;
    }

    .connectWallet{
        width: 67.5%;
    }
    
    .learnConnect{
        width: 32.5%;
        padding: 35px 15px 25px;
    }

    .learnConnect h2{
        line-height: 36px;
        text-align: center;
    }

    .learnConnectBtn{
        width: 165px;
        font-size: 13px;
    }

    /* section_1 */
    .section_1{
        margin-top: 60px;
    }

    #swiper_1{
        height: 530px;
    }
    
    .swiper-slide{
        flex-direction: column-reverse;
    }

    .slideImg{
        width: 80%;
        height: 300px;
        background-position: bottom;
    }

    .slideContent{
        width: 90%;
        padding-left: 0;
    }

    .slideContent h1{
        font-size: 28px;
    }

    .slideContent h2{
        font-size: 14px;
    }

    .swiper-pagination{
        display: none;
        
    }

   /*  .swiper-pagination-bullet-active {
        box-shadow: -3px 0px 0px 0px #FF9800;
        height: 50px; 
    } */

    /* .swiper-pagination-bullet-active .h3.light{
        color:  #FF9800;
    } */
    
    /* .swiper-pagination-bullet-active .h3.dark{
        color:  #936CF7;
    }
 */

    .swiper-pagination-bullet{
        text-align: left;
        margin-left: 2px;
    }

    .swiper-pagination-bullet:first-child{
        margin-left: 10px;
    }

    .swiper-pagination h3{
        font-size: 12px;
    }

    .swiper-pagination h4{
        font-size: 12px
    }

    .swiper-pagination-bullet-active{
        height: 68px;
    }

    .slideBtn .connectBtn{
        width: 160px;
        height: 42px;
        font-size: 14px;
        line-height: 41px;
        margin-right: 10px;
    }

    .slideBtn .trade{
        width: 120px;
        height: 44px; /* border, so top & botton - 4px */
        font-size: 14px;
    }

    /* section_2 */

    .wrapper_2 .card ul{
        flex-direction: column;
        align-items: center;
    }

    .wrapper_2 .card img{
        align-self: flex-end;
        width: 40px;
    }

    .section_2cardContent{
        margin-top: -55px;
    }

    .wrapper_2 .card li{
        height: 140px;
        margin: 10px;
        padding: 40px;
        padding-bottom: 0px;
        padding-top: 20px;
    }

    .wrapper_2 h2{
        font-size: 26px;
        line-height: 42px;
        margin: 0;
    }

    .wrapper_2 h5{
        font-size: 18px;
        margin: 10px 0 15px;
    }

    .wrapper_2 p{
        font-size: 15px;
        margin: 10px 0;;
    }

    .card li h2{
        font-size: 22px;
    }

    .card li h3{
        font-size: 32px;
    }

    /* section_3 */

    .wrapper_3{
        flex-direction: column-reverse;
        height: auto;
    }

    .wrapper_3 .contentImg{
        height: 200px;
        width: 90%;
        margin: 0 auto;
    }

    .wrapper_3 .content{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .wrapper_3 h1{
        font-size: 26px;
        line-height:1.5em;
    }

    .wrapper_3 h2{
        font-size: 16px;
        margin-bottom: 20px
    }

    /* section_4 */

     .wrapper_4{
        flex-direction: column;
        height: auto;
    }

    .wrapper_4 .contentImg{
        height: 200px;
        width: 90%;
        margin: 0 auto;
    }

    .wrapper_4 .content{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .wrapper_4 h1{
        font-size: 26px;
        line-height:1.5em;
    }

    .wrapper_4 h2{
        font-size: 16px;
        margin-bottom: 20px
    }


    /* section_5 */

    .wrapper_5{
        margin-top: -110px;
    }

    .wrapper_5 h2{
        font-size: 26px;
        line-height: 42px;
    }

    .wrapper_5 p{
        font-size: 16px;
    }

    /* section_6 */

    .section_6 img{
        width: 330px;
    }

    .wrapper_6{
        padding-top: 300px;
    }

    .wrapper_6 h2{
        font-size: 26px;
        line-height: 42px;
    }

    .wrapper_6 p{
        font-size: 16px;
    }

    .wrapper_6 .content{
        width: 95vw;
        height: 460px;
        align-items: center;
    }

    .wrapper_6 .swiper-slide{
        margin: 40px 0 30px;
    }

    .swiper-indexNftPagination{
        width: 90%;
        height: 30px;
        text-align: center;
        position: static;
    }

    .wrapper_6 .content .swiper-pagination-bullet{
        width: 5px;
        height: 5px;
        padding: 0;
        border-radius: 50px;
        line-height: normal;
        font-size: 12px;
        opacity: 1;
    }

    .wrapper_6 .content.light .swiper-pagination-bullet{
        background: #e0e0e0;
    }

     .wrapper_6 .content.dark .swiper-pagination-bullet{
        background: #4d4d4d;
    }

    .wrapper_6 .content.light .swiper-pagination-bullet-active{
        background-color: #FF9800;
        height: 5px;
        border-radius: 50px;
        box-shadow: 0px 0px 0px 0px #ffffff;
    }

    .wrapper_6 .content.dark .swiper-pagination-bullet-active{
        /* background-color: #936CF7; */
        background-color: #FF9800;
        height: 5px;
        border-radius: 50px;
        box-shadow: 0px 0px 0px 0px #ffffff;
    }

    /* section_7 */

    .section_7{
        height: 460px;
    }

    .wrapper_7{
        flex-direction: column-reverse;
        height: auto;
    }

    .wrapper_7 .contentImg{
        height: 230px;
        width: 90%;
        margin: 0 auto;
    }

    .wrapper_7 .content{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .wrapper_7 h1{
        font-size: 26px;
        line-height: 32px;
    }

    .wrapper_7 h2{
        font-size: 16px;
        margin-bottom: 20px
    }

    /* section_8 */

    .wrapper_8{
        margin-top: 110px;
    }

    .wrapper_8 h2{
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .wrapper_8 p{
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
    }

    .wrapper_8 .connectBtn{
        height: 42px;
        line-height: 42px;
    }

    /* section_9 */

    .section_9{
        height: 1445px;
    }

    .wrapper_9{
        margin-top: 300px;
    }

    .section_9 .list{
        flex-direction: column;
    }

    .section_9 .list .about, .section_9 .list .developers{
        margin-bottom: 30px;
    }

    .section_9.light .about li:first-child, .section_9.light .developers li:first-child, .section_9.light .help li:first-child{
        color: #FF9800;
    }

    .section_9.dark .about li:first-child, .section_9.dark .developers li:first-child, .section_9.dark .help li:first-child{
        color: #936CF7;
    }

    .section_9 .socialMedia img{
        width: 24px;
    }

    /* tibame */

    .tibame{
        margin-top: 1330px;
        font-size: 9px;
        margin-left: auto;
        margin-right: auto;
        line-height: 15px;
    }

    /* Banner */
    /* Farm */ /* Pool */
    .text h1{
        font-size: 28px;
        margin-left: 30px;
    }

    .text h2{
        font-size: 20px;
        margin-left: 30px;
    }

    .bannerImg img{
        margin-right: 20px;
    }

    .tradingList .listLeft, .tradingList .listRight{
        margin: 0;
    }

    .topTrading h2{
        font-size: 22px;
    }

    .notable h2, .topBuysToday h2{
        font-size: 22px;
    }

    /* Buy NFT */

    .properties .type p:last-child.light{
        width: 48px;
        margin-right: 0px;
    }
    .properties .type p:last-child.dark{
        width: 48px;
        margin-right: 0px;
    }

}

/* ----------------------- 580 ----------------------- */
@media screen and (max-width: 580px) {


    /* Wallet */
   .wallets .wallet{
        margin: 0;
    }

    .connectWallet{
        width: 95%;
    }

    .learnConnect{
        display: none;
    }

    .learnConnect h2{
        line-height: 36px;
        text-align: center;
    }

    .learnConnectBtn{
        width: 165px;
        font-size: 13px;
    }

    .connectWallet .wallets li{
        flex-grow: 0;
        margin: 10px 0 0;
    }

    /* Buy NFT */

    .nftBuy{
        padding: 10px;
        flex-direction: column;
    }

    .nftBuyImg{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nftSubContent{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;
    }

    .nftLeftContent{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nftProperties{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .nftBuyDiscript h1{
        font-weight: 700;
        font-size: 28px;
        line-height: 20px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .nftBuyDiscript .owned{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .nftBuyDiscript .currentPrince{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .nftBuyDiscript .price{
        font-weight: 500;
        font-size: 26px;
        line-height: 18px;
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .buyNftBtn .mainBtn{
        width: 180px;
        height: 42px;
        border: 0;
        line-height: 42px;
        background: #5EC4D1;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        margin-left: 5px;
        margin-right: 20px;
    }

    .buyNftBtn .secondBtn{
        width: 150px;
        height: 42px; /* border, so top & botton - 4px */
        font-weight: 600;
        font-size: 16px;
        color: #5EC4D1;
        border: 2px solid #5EC4D1;
        background: rgba(0, 0, 0, 0);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        text-align: center;
    }

    .listings .column .columnFrom{
        width: 200px;
        text-align: right;
        margin-left: 0px;
        margin-right: 20px;
    }

    .listings .list .from{
        width: 200px;
        margin-left: 20px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .properties .type p{
        font-size: 14px;
    }

    .listings .list .topImg{
        width: 60px;
        height: 60px;
        border-radius: 10px
    }
    
    .listings .list{
        font-size: 14px;
    }

    .listings .list .topName{
        flex-grow: 1;
        text-align: left;
        margin-left: 10px;
    }

    .nftBuyInfo{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    .nftListings{
        width: 100%;
        flex-grow: 1;
        margin: 0 auto;
        margin-left: 0px;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 0px;
    }

    .properties .type p:last-child.light{
        width: 68px;
        margin-right: 0px;
    }
    .properties .type p:last-child.dark{
        width: 68px;
        margin-right: 0px;
    }

}

/* ----------------------- 560 ----------------------- */
@media screen and (max-width: 560px) {

    /* ==================Wallet================== */

    #lightbox > .dialog{
        background-color: white;
        width: 100%;
        max-width: 100%;
        border-radius: 30px 30px 0 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        border: none;
        top: 0;
        top: auto;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
        z-index: 11;
        overflow: hidden;
    }

    .wallets .wallet{
        height: 80px;
    }

    .wallets ul{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 100px);
        grid-gap: 10px;
    }

    /* .connectWallet .wallets li:last-child{
        margin-right: auto;
    } */

    .connectWallet{
        padding: 15px 25px 25px;
    }

    .connectWallet h2{
        font-size: 16px;
    }

    .connectWallet p{
        font-size: 12px;
    }

    .moreWallet{
        width: 50px;
        height: 50px;
        background-size: cover;  
    }
   
    .wallets img{
        width: 50px;
        height: 50px;
    }

    /* Nav */
    .subMenu ul{
        width: 428px;
    }

    /* Farm */ /* Pool */
    .text h1{
        font-size: 32px;
        margin-left: 50px;
    }

    .text h2{
        font-size: 22px;
        margin-left: 50px;
    }

    .bannerImg img{
        display: none;
        margin-right: 20px;
    }

    .farm{
        width: 240px;
        padding: 20px;
    }

    .farm .subCoinLogo{
        width: 35px;
        height: 35px;
        top: 35px;
        left: 20px;
    }

    .farm .coinLogo{
        width: 50px;
        height: 50px;
        top: 45px;
        left: 40px;
    }

    .pair{
        margin-right: 20px;
        top: 45px;
    }

    .wrapperEarn .pool .coinLogo{
        width: 50px;
        height: 50px;
        right: 30px;
    }

    .wrapperEarn .pool .subCoinLogo{
        width: 30px;
        height: 30px;
        right: 15px;
    }

    /* NFT */
    .column{
        margin: 0;
        padding: 0;
    }

    .topTrading .list{
        font-size: 14px;
        margin: 0 0 25px;
        padding: 5px 0;
    }

    .column .floorPrice, .column .volume{
        width: 90px;
    }

    .topTrading .list .topPrice, .topTrading .list .topVolume{
        width: 90px;
    }

    /* NFT Product */
    .nftProducts .content{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 100%);
        grid-gap: 10px;
    }

    .properties .type p:last-child.light{
        width: 58px;
        margin-right: 0px;
    }
    .properties .type p:last-child.dark{
        width: 58px;
        margin-right: 0px;
    }

    .buyNftBtn{
        justify-content: center;
    }

    .buyNftBtn .mainBtn{
        width: 145px;
        height: 42px;
        border: 0;
        line-height: 42px;
        margin-left: 0px;
        margin-right: 8px;
    }

    .buyNftBtn .secondBtn{
        width: 145px;
        height: 42px; /* border, so top & botton - 4px */
        font-weight: 600;
        font-size: 16px;
        text-align: center;
    }

    

}


/* ----------------------- 428 ----------------------- */
@media screen and (max-width: 428px) {

    /* ==================index================== */

    header{
        height: 60px;
    }

    .toper{
        height: 60px;
    }

    .nav{
        display: none;
    }

    footer{
        display: block;
    }

    .toper img{
        height: 45px;
        top: 9px;
        left: 10px;
    }

    .toper .connectBtn{
        width: 100px;
        height: 42px;
        line-height: 42px;
        right: 10px;
        font-size: 14px;
        top:9px
    }

    .walletBtn-box {
        width: 100px;
        height: 42px;
        border: 0;
        position: absolute;
        top: 9px;
        right: 10px;
        display: none;
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    }
    
    .walletBtn-box-text{
        width: 55%;
        margin: 0;
        padding: 0 15px;
        color: #ffffff;
        font-weight: 600;
        font-size: 14px;
        line-height: 42px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
    }

    .switch{
        width: 42px;
        height: 42px;
        right: 117px;
        top: 9.5px;
    }

    .material-icons{
        line-height: 50px;
    }

    .contentBtn .mainBtn{
        width: 160px;
        height: 42px;
        line-height: 42px;
        margin-right:15px;
    }

    .contentBtn .secondBtn{
        width: 120px;
        height: 39px;
        line-height: 38px;
    }

    /* section_1 */

    .section_1{
        margin-top: 60px;
    }

    #swiper_1{
        height: 530px;
    }
    
    .swiper-slide{
        flex-direction: column-reverse;
    }

    .slideImg{
        width: 80%;
        height: 300px;
        background-position: bottom;
    }

    .slideContent{
        width: 90%;
        padding-left: 0;
    }

    .slideContent h1{
        font-size: 28px;
    }

    .slideContent h2{
        font-size: 14px;
    }

    .swiper-pagination{
        display: none;
        
    }

   /*  .swiper-pagination-bullet-active {
        box-shadow: -3px 0px 0px 0px #FF9800;
        height: 50px; 
    } */

    /* .swiper-pagination-bullet-active .h3.light{
        color:  #FF9800;
    } */
    
    /* .swiper-pagination-bullet-active .h3.dark{
        color:  #936CF7;
    }
 */

    .swiper-pagination-bullet{
        text-align: left;
        margin-left: 2px;
    }

    .swiper-pagination-bullet:first-child{
        margin-left: 10px;
    }

    .swiper-pagination h3{
        font-size: 12px;
    }

    .swiper-pagination h4{
        font-size: 12px
    }

    .swiper-pagination-bullet-active{
        height: 68px;
    }

    .slideBtn .connectBtn{
        width: 160px;
        height: 42px;
        font-size: 14px;
        line-height: 41px;
        margin-right: 10px;
    }

    .slideBtn .trade{
        width: 120px;
        height: 44px; /* border, so top & botton - 4px */
        font-size: 14px;

    }

    /* section_2 */

    .wrapper_2 .card ul{
        flex-direction: column;
        align-items: center;
    }

    .wrapper_2 .card img{
        align-self: flex-end;
        width: 40px;
    }

    .section_2cardContent{
        margin-top: -55px;
    }

    .wrapper_2 .card li{
        height: 140px;
        margin: 10px;
        padding: 40px;
        padding-bottom: 0px;
        padding-top: 20px;
    }

    .wrapper_2 h2{
        font-size: 26px;
        line-height: 42px;
        margin: 0;
    }

    .wrapper_2 h5{
        font-size: 18px;
        margin: 10px 0 15px;
    }

    .wrapper_2 p{
        font-size: 15px;
        margin: 10px 0;;
    }

    .card li h2{
        font-size: 22px;
    }

    .card li h3{
        font-size: 32px;
    }

    /* section_3 */

    .wrapper_3{
        flex-direction: column-reverse;
        height: auto;
    }

    .wrapper_3 .contentImg{
        height: 200px;
        width: 90%;
        margin: 0 auto;
    }

    .wrapper_3 .content{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .wrapper_3 h1{
        font-size: 26px;
        line-height:1.5em;
    }

    .wrapper_3 h2{
        font-size: 16px;
        margin-bottom: 20px
    }

    /* section_4 */

     .wrapper_4{
        flex-direction: column;
        height: auto;
    }

    .wrapper_4 .contentImg{
        height: 200px;
        width: 90%;
        margin: 0 auto;
    }

    .wrapper_4 .content{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .wrapper_4 h1{
        font-size: 26px;
        line-height:1.5em;
    }

    .wrapper_4 h2{
        font-size: 16px;
        margin-bottom: 20px
    }


    /* section_5 */

    .wrapper_5{
        margin-top: -110px;
    }

    .wrapper_5 h2{
        font-size: 26px;
        line-height: 42px;
    }

    .wrapper_5 p{
        font-size: 16px;
    }

    /* section_6 */

    .section_6 img{
        width: 330px;
    }

    .wrapper_6{
        padding-top: 300px;
    }

    .wrapper_6 h2{
        font-size: 26px;
        line-height: 42px;
    }

    .wrapper_6 p{
        font-size: 16px;
    }

    .wrapper_6 .content{
        width: 95vw;
        height: 460px;
        align-items: center;
    }

    .wrapper_6 .swiper-slide{
        margin: 40px 0 30px;
    }

    .swiper-indexNftPagination{
        width: 90%;
        height: 30px;
        text-align: center;
        position: static;
    }

    .wrapper_6 .content .swiper-pagination-bullet{
        width: 5px;
        height: 5px;
        padding: 0;
        border-radius: 50px;
        line-height: normal;
        font-size: 12px;
        opacity: 1;
    }

    .wrapper_6 .content.light .swiper-pagination-bullet{
        background: #e0e0e0;
    }

    .wrapper_6 .content.dark .swiper-pagination-bullet{
        background: #4d4d4d;
    }

    .wrapper_6 .content.light .swiper-pagination-bullet-active{
        background-color: #FF9800;
        height: 5px;
        border-radius: 50px;
        box-shadow: 0px 0px 0px 0px #ffffff;
    }

    .wrapper_6 .content.dark .swiper-pagination-bullet-active{
        /* background-color: #936CF7; */
        background-color: #FF9800;
        height: 5px;
        border-radius: 50px;
        box-shadow: 0px 0px 0px 0px #ffffff;
    }

    /* section_7 */

    .section_7{
        height: 460px;
    }

    .wrapper_7{
        flex-direction: column-reverse;
        height: auto;
    }

    .wrapper_7 .contentImg{
        height: 230px;
        width: 90%;
        margin: 0 auto;
    }

    .wrapper_7 .content{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .wrapper_7 h1{
        font-size: 26px;
        line-height: 32px;
    }

    .wrapper_7 h2{
        font-size: 16px;
        margin-bottom: 20px
    }

    /* section_8 */

    .wrapper_8{
        margin-top: 80px;
    }

    .wrapper_8 h2{
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .wrapper_8 p{
        width: 80%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
    }

    .wrapper_8 .connectBtn{
        height: 42px;
        line-height: 42px;
    }

    /* section_9 */

    .section_9{
        height: 1350px;
    }

    .wrapper_9{
        width: 100%;
        margin-top: 300px;
    }

    .learn{
        margin-top: 20px;
    }

    .section_9 .logo{
        width: 160px;
    }

    .section_9 .list{
        flex-direction: column;
    }

    .section_9 .list .about, .section_9 .list .developers{
        margin-bottom: 30px;
    }

    .section_9.light .about li:first-child, .section_9.light .developers li:first-child, .section_9.light .help li:first-child{
        color: #FF9800;
    }

    .section_9.dark .about li:first-child, .section_9.dark .developers li:first-child, .section_9.dark .help li:first-child{
        color: #936CF7;
    }

    .section_9 .socialMedia img{
        width: 24px;
    }

    /* tibame */

    .tibame{
        margin-top: 1220px;
        font-size: 9px;
        margin-left: auto;
        margin-right: auto;
        line-height: 15px;
    }


    /* ==================Wallet================== */
    
    #lightbox > .dialog{
        background-color: white;
        width: 100%;
        max-width: 100%;
        border-radius: 30px 30px 0 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        border: none;
        top: 0;
        top: auto;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
        z-index: 11;
        overflow: hidden;
    }

    .wallets .wallet{
        height: 80px;
    }

    .connectWallet{
        padding: 15px 20px 25px;
    }

    .connectWallet .wallets li{
        margin: 10px 0 0;
    }

    .connectWallet h2{
        font-size: 16px;
    }

    .connectWallet p{
        font-size: 12px;
    }

    .moreWallet{
        width: 50px;
        height: 50px;
        background-size: cover;  
    }
   
    .wallets img{
        width: 50px;
        height: 50px;
    }

    /* Nav */
    .subMenu ul{
        width: 375px;
    }

    .subMenu li{
        width: 110px;
        font-size: 14px;
    }

    /* NFT */
    .topTrading .list .topImg{
        width: 45px;
        height: 45px;
        border-radius: 8px;
    }

    .topTrading h2{
        font-size: 20px;
        margin: 20px 0 10px;
    }

    .column{
        font-size: 14px;
    }

    .topTrading .list{
        font-size: 12px;
    }

    .column .floorPrice, .column .volume{
        width: 84px;
    }

    /* NFT Product */
    .productImg img{
        display: block;
        width: 180px;
        margin-top: 50px;
        padding: 10px;
        border-radius: 15px;
    }

    .nftInfo{
        width: 90%;
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        margin-top: 110px;
    }


    /* Buy NFT */

    .nftBuy{
        padding: 10px;
        flex-direction: column;
    }

    .nftBuyImg{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nftSubContent{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;
    }

    .nftLeftContent{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nftProperties{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .nftBuyDiscript{
        padding: 5px;
    }

    .nftBuyDiscript h1{
        font-weight: 700;
        font-size: 28px;
        line-height: 20px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .nftBuyDiscript .owned{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .nftBuyDiscript .currentPrince{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .nftBuyDiscript .price{
        font-weight: 500;
        font-size: 26px;
        line-height: 18px;
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .buyNftBtn .mainBtn{
        width: 145px;
        height: 42px;
        border: 0;
        line-height: 42px;
        margin-left: 0px;
        margin-right: 8px;
    }

    .buyNftBtn .secondBtn{
        width: 145px;
        height: 42px; /* border, so top & botton - 4px */
        font-weight: 600;
        font-size: 16px;
        text-align: center;
    }

    .listings .column .columnFrom{
        width: 60px;
        text-align: right;
        margin-left: 0px;
        margin-right: 20px;
    }

    .listings .list .from{
        width: 60px;
        margin-left: 20px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .properties .type p{
        font-size: 14px;
    }

    .listings .list .topImg{
        width: 60px;
        height: 60px;
        border-radius: 10px
    }
    
    .listings .list{
        font-size: 14px;
    }

    .listings .list .topName{
        flex-grow: 1;
        text-align: left;
        margin-left: 10px;
    }

    .nftBuyInfo{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    .nftListings{
        width: 100%;
        flex-grow: 1;
        margin: 0 auto;
        margin-left: 0px;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 0px;
    }

}


/* ----------------------- 375 ----------------------- */
@media screen and (max-width: 375px) {

    /* ==================Wallet================== */

    #lightbox > .dialog{
        background-color: white;
        width: 100%;
        max-width: 100%;
        border-radius: 30px 30px 0 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        border: none;
        top: 0;
        top: auto;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
        z-index: 11;
        overflow: hidden;
    }

    .wallets .wallet{
        width: 80px;
        height: 80px;
    }

    .wallets ul{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 85px);
        grid-gap: 10px;
    }

    .connectWallet{
        padding: 15px 20px 25px;
    }

    .connectWallet .wallets li{
        margin: 10px 0 0;
    }

    .connectWallet h2{
        font-size: 16px;
    }

    .connectWallet p{
        font-size: 12px;
    }

    .moreWallet{
        width: 50px;
        height: 50px;
        background-size: cover;  
    }
   
    .wallets img{
        width: 50px;
        height: 50px;
    }

}

