@import url("reset.css");

html{
	width: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

body.light{
	background-color: #fff;
	color: #311866;
	transition: all .6;
}

body.dark{
	background-color: #1A142A;
	color: #F3EEFE;
	transition: all .6s;
}

/* ------------Header------------- */

header{
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	transition: top 0.4s ease-in-out;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hideUp header{
	top: -70px;
  }

.toper{
	width: 100%;
	height: 70px;
	position: relative;
	display: flex;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
	/* justify-content:center; */
}

.toper.light{
	background-color:#FFF ;
	transition: all .6s;
}

.toper.dark{
	background-color:#27262C ;
	transition: all .6s;
}

/* Logo */
.toper img{
	position: absolute;
	left: 30px;
	top: 10px;
	height: 50px;
}

.nav{
	width: 500px;
	/* margin: 0 auto; */
	margin-left: 220px;
}

.nav ul{
	display: flex;
}

.nav li{
	/* width: 60px; */
	height: 60px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.nav li a{
	width: 100%;
	height: 100%;
	line-height: 62px;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}

.nav.light li a{
	color: #553E7F;
}

.nav.dark li a{
	color: #F3EEFE;
}

.toper .connectBtn{
	width: 200px;
	height: 46px;
	border: 0;
	background-color: #5EC4D1;
	font-weight: 700;
	font-size: 16px;
	line-height: 46px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	position: absolute;
	top: 12px;
	right: 30px;
	display: block;
}

.connectBtn.light{
	color: #FFFFFF;
	transition: all .6s;
}

.connectBtn.dark{
	color: #191326;
	transition: all .6s;
}

/* ------------Switch------------- */

.switch{
	width: 46px;
	height: 46px;
	border-radius: 50px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 12.5px;
	right: 248px;	
}

.switch.light{
	background-color: #FFF;
	border: 1px solid #5EC4D1;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	transition: all .6s;
}
.switch.dark{
	background-color: #27262C;
	border: 1px solid #F3EEFE;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	transition: all .6s;
}

.material-icons{
	color: #FF9800;
	font-size: 26px;
	line-height: 43px;
}

/* ------------Connect Wallet------------- */

/* =======================section1======================= */

.section_1{
	height: 610px;
	background-size: cover;
	background-position: bottom;
	margin-top: 70px;
}

.section_1.light{
	background-image: url("../img/section_1_BG_light.svg");
	transition: all .6s;
}

.section_1.dark{
	background-image: url("../img/section_1_BG_dark.svg");
	transition: all .6s;
}

/* ------------Swiper_Banner------------- */

#swiper_1{
	width: 100%;
	height: 465px;
}

.swiper-slide{
	text-align: center;
	font-size: 18px;
	display: flex;
	align-items: center;
	/* background-color: #1DC7D3; */
}

.slideContent{
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
	box-sizing: border-box;
}

.slideContent h1{
	/* width: 600px; */
	font-weight: 900;
	font-size: 40px;
	line-height: 1.5;
	text-align: left;
	margin-bottom: 15px;
	/* background-color: #02C708; */
}

h1.light{
	color: #7645D9;
	transition: all .6s;
}

h1.dark{
	color: #936CF7;
	transition: all .6s;
}

.slideContent h2{
	/* width: 600px; */
	font-weight: 700;
	font-size: 22px;
	line-height: 1.5;
	text-align: left;
	margin-bottom: 30px;
	/* background-color: tomato; */
}

h3.light{
	color: #2B1262;
	transition: all .6s;
}

h3.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.slideImg{
	width: 50%;
	height: 500px;
	display: flex;
	/* background-color: yellow; */
}

.slideImg .imgContent{
	width: 100%;
	/* height: 100%; */
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
}

#slideImg_1{
	background-image: url("../img/slide_1.png");
}

#slideImg_2{
	background-image: url("../img/slide_2.png");
}

#slideImg_3{
	background-image: url("../img/slide_3.png");
}

.slideBtn{
	display: flex;
}

.slideBtn .connectBtn{
	width: 200px;
	height: 46px;
	background-color: #5EC4D1;
	border: 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 46px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	margin-right: 25px;
}

.slideBtn .connectBtn.light{
	color: #FFFFFF;
	transition: all .6s;
}

.slideBtn .connectBtn.dark{
	color: #191326;
	transition: all .6s;
}

.slideBtn .trade{
	width: 160px;
	height: 46px; /* border, so top & botton - 4px */
	font-size: 16px;
	font-weight: 700;
	line-height: 4px;
	background-color: rgba(0, 0, 0, 0);
	color: #5EC4D1;
	border: 2px solid #5EC4D1;
	filter: drop-shadow(0px 8px 8px rgba(215, 228, 227, 0.08)) drop-shadow(0px 8px 16px rgba(215, 228, 227, 0.08));
	border-radius: 20px;
}

.swiper-pagination{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	position: static;
	/* background-color: #a4a4a4; */
}

.swiper-pagination-bullet{
	flex-basis: 320px;
	flex-shrink:1;
	flex-grow: 1;
	padding: 5px 10px;
	border-radius: 0;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color: #000;
	opacity: 1;
	background: rgba(0, 0, 0, 0);
}

.swiper-pagination-bullet:first-child{
	margin-left: 80px;
}

.swiper-pagination-bullet-active {
	box-shadow: -3px 0px 0px 0px #FF9800;
	height: 50px;
}

.swiper-pagination h3{
	float: left;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}

.swiper-pagination h4{
	float: left;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

.swiper-pagination h3.light{
	color: #280E5F;
	transition: all .6s;
}

.swiper-pagination h3.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.swiper-pagination h4.light{
	color: #7B6FAB;
	transition: all .6s;
}

.swiper-pagination h4.dark{
	color: #F3EEFE;
	transition: all .6s;
}


/* =======================section_2======================= */

.section_2{
	height: 800px;
	background-size: cover;
	background-position: bottom;
}

.section_2.light{
	background-image: url("../img/section_2_BG_light.svg");
	transition: all .6s;
}

.section_2.dark{
	background-image: url("../img/section_2_BG_dark.svg");
	transition: all .6s;
}

/* ------------section_2 Content------------- */

.wrapper_2{
	width: 80vw;
	margin: 0 auto;
}

.wrapper_2 h2{
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	margin: 30px 0 30px;
}

.wrapper_2 h2.light{
	color: #280E5F;
	transition: all .6s;
}

.wrapper_2 h2.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.wrapper_2 p{
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	margin: 10px 0 30px;
}

.wrapper_2 p.light{
	color: #7B6FAB;
	transition: all .6s;
}

.wrapper_2 p.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.wrapper_2 h5{
	font-weight: 700;
	font-size: 22px;
	line-height: 32px;	
	text-align: center;
	margin: 10px 0 30px;
}

.wrapper_2 h5.light{
	color: #7645D9;
	transition: all .6s;
}

.wrapper_2 h5.dark{
	color: #936CF7;
	transition: all .6s;
}

.wrapper_2 .card{
	margin: 0 auto;	
}

.wrapper_2 .card ul{
	display: flex;
	justify-content: center;
}

.wrapper_2 .card li{
	width: 320px;
	height: 380px;
	text-align: left;
	/* position: relative; */
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin: 0 15px;
	padding: 40px;
	box-sizing: border-box;
	/* padding-top: 150px; */
}

.wrapper_2 .card img{
	/* position: absolute; */
	/* top: 30px;
	right: 30px; */
	width: 40px;
	align-self: flex-end;
}

.wrapper_2 .card.light li{
	background: #FFFFFF;
	transition: all .6s;
}

.wrapper_2 .card.dark li{
	background: #27262C;
	transition: all .6s;
}

.section_2cardContent{

	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

.card li h2{
	text-align: left;
	font-weight: 700;
	font-size: 40px;
	line-height: 36px;
}

.card.light li h2{
	color: #280E5F;
}

.card li h3{
	font-weight: 700;
	font-size: 40px;
	line-height: 30px;
}

.card li p{
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #7B6FAB;
	text-align: left;
}

/* =======================section_3======================= */

.section_3{
	height: 510px;
}

/* ------------section_3 Content------------- */

.wrapper_3{
	width: 100vw;
	height: 450px;
	margin: 0 auto;
	display: flex;
	margin-top: 30px;
}

.wrapper_3 .content{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10vw ;
}

.wrapper_3 h1{
	text-align: left;
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	margin-bottom: 20px;
}

.wrapper_3 h1.light{
	color: #280E5F;
	transition: all .6s;
}

.wrapper_3 h1.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.wrapper_3 h2{	
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 40px;
}

.wrapper_3 h2.light{
	color: #7B6FAB;
	transition: all .6s;
}

.wrapper_3 h2.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.contentBtn{
	display: flex;
}

.contentBtn .mainBtn{
	width: 200px;
	height: 46px;
	color: #FFFFFF;
	background-color: #5EC4D1;
	font-weight: 600;
	font-size: 16px;
	line-height: 46px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	margin-right: 25px;
	text-align: center;
}

.contentBtn .secondBtn{
	width: 160px;
	height: 42px; /* border, so top & botton - 4px */
	font-weight: 600;
	font-size: 16px;
	line-height: 42px;
	color: #5EC4D1;
	border: 2px solid #5EC4D1;
	filter: drop-shadow(0px 8px 8px rgba(215, 228, 227, 0.08)) drop-shadow(0px 8px 16px rgba(215, 228, 227, 0.08));
	border-radius: 20px;
	text-align: center;
}

.wrapper_3 .contentImg{
	width: 50%;
	background-image: url("../img/section_3_Img.png");
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
}

/* =======================section_4======================= */

.section_4{
	height: 751px;
	background-size: cover;
	background-position: bottom;
}

.section_4.light{
	background-image: url("../img/section_4_BG_light.svg");
	transition: all .6s;
}

.section_4.dark{
	background-image: url("../img/section_4_BG_dark.svg");
	transition: all .6s;
}

/* ------------section_4 Content------------- */

.wrapper_4{
	width: 100vw;
	height: 450px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.wrapper_4 .content{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper_4 h1{
	text-align: left;
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	margin-bottom: 20px;
}

.wrapper_4 h1.light{
	color: #280E5F;
	transition: all .6s;
}

.wrapper_4 h1.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.wrapper_4 h2{	
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 40px;
}

.wrapper_4 h2.light{
	color: #7B6FAB;
	transition: all .6s;
}

.wrapper_4 h2.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.wrapper_4 .content{
	order: 1;
}

.contentBtn{
	display: flex;
}

.contentBtn .mainBtn{
	width: 200px;
	height: 46px;
	color: #FFFFFF;
	background-color: #5EC4D1;
	font-weight: 600;
	font-size: 16px;
	line-height: 46px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	margin-right: 25px;
	text-align: center;
}

.contentBtn .secondBtn{
	width: 160px;
	height: 42px; /* border, so top & botton - 4px */
	font-weight: 600;
	font-size: 16px;
	line-height: 42px;
	color: #5EC4D1;
	border: 2px solid #5EC4D1;
	filter: drop-shadow(0px 8px 8px rgba(215, 228, 227, 0.08)) drop-shadow(0px 8px 16px rgba(215, 228, 227, 0.08));
	border-radius: 20px;
	text-align: center;
}

.wrapper_4 .contentImg{
	order: 0;
	width: 50%;
	background-image: url("../img/section_4_Img.png");
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
}

/* =======================section_5======================= */

.section_5{
	height: 510px;
	position: relative;
}

/* ------------section_5 Content------------- */

.wrapper_5{
	width: 100vw;
	margin: 0 auto;
	margin-top: 30px;
	margin-top: -80px;
}

.wrapper_5 .content{
	width: 100vw;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;	
}

.wrapper_5 .contentImg{
	width: 30%;
	background-image: url("../img/section_5_Img.png");
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
}

.wrapper_5 .card{
	width: 70%;
	padding: 10px 0;
	overflow: hidden;
}

.wrapper_5 h2{	
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	text-align: center;
}

.wrapper_5 h2.light{
	color: #280E5F;;
	transition: all .6s;
}

.wrapper_5 h2.dark{
	color: #936CF7;
	transition: all .6s;
}

.wrapper_5 p{	
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;	
	text-align: center;
}

.wrapper_5 p.light{
	color: #7B6FAB;;
	transition: all .6s;
}

.wrapper_5 p.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.wrapper_5 .swiper-container{
	overflow: visible;
}

.wrapper_5 .pool{
	width: 300px;
	background-color: #eaf429;
	height: 320px;
	position: relative;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.wrapper_5 .pool.light{
	background: #FFFFFF;
	transition: all .6s;
}

.wrapper_5 .pool.dark{
	background: #27262C;
	transition: all .6s;
}

.wrapper_5 .pool .coinLogo{
	position: absolute;
	top: 45px;
	left: 40px;
	border-radius: 100px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper_5 .pool h5{
	position: absolute;
	width: 74px;
	height: 36px;
	left: 137px;
	top: 45px;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
}

.wrapper_5 .pool h5.light{
	color: #280E5F;
	transition: all .6s;
}

.wrapper_5 .pool h5.dark{
	color: #936CF7;
	transition: all .6s;
}

.wrapper_5 .pool p{
	position: absolute;
	height: 36px;
	left: 137px;
	top: 75px;
	font-weight: 400;
	font-size: 18px;
	line-height: 36px;
}

.wrapper_5 .pool p.light{
	color: #919191;
	transition: all .6s;
}

.wrapper_5 .pool p.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.wrapper_5 .pool h1{
	position: absolute;
	height: 36px;
	left: 45px;
	top: 155px;
	font-weight: 500;
	font-size: 36px;
	line-height: 36px;
}

.wrapper_5 .pool h1.light{
	color: #333;
	transition: all .6s;
}

.wrapper_5 .pool h1.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.wrapper_5 .pool img{
	position: absolute;
	left: 45px;
	top: 235px;
}

.wrapper_5 .pool .ratio{
 	position: absolute;
	height: 30px;
	left: 80px;
	top: 232px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.wrapper_5 .pool .ratio.rise{
	color: #02C708;
}

.wrapper_5 .pool .ratio.fall{
	color: #FF7171;
}

.wrapper_5 .pool .change{
	position: absolute;
	height: 30px;
	left: 45px;
	top: 260px;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
}

.wrapper_5 .pool .change.light{
   color: #919191;
   transition: all .6s;
}

.wrapper_5 .pool .change.dark{
   color: #D2D2D2;
   transition: all .6s;
}

.wrapper_5 .pool .counts{
	position: absolute;
	height: 30px;
	left: 170px;
	top: 232px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.wrapper_5 .pool .counts.light{
   color: #000000;
   transition: all .6s;
}

.wrapper_5 .pool .counts.dark{
   color: #F3EEFE;
   transition: all .6s;
}

.wrapper_5 .pool .volume{
	position: absolute;
	height: 30px;
	left: 170px;
	top: 260px;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
}

.wrapper_5 .pool .volume.light{
   color: #919191;
   transition: all .6s;
}

.wrapper_5 .pool .volume.dark{
   color: #D2D2D2;
   transition: all .6s;
}

.gradient{
	width: 70.5%;
	height: 360px;
	float: right;
	margin-top: -360px;
	position: relative;
	z-index: 2;
	pointer-events: none;
	display: block;
}

.gradient.light{
	background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 1%, rgba(255, 255, 255, 0) 2.9%);
}

.gradient.dark{
	background: linear-gradient(90deg, #1A142A 0%, #1A142A 1%, rgba(26, 20, 42, 0) 2.9%);
}

/* =======================section_6======================= */

.section_6{
	height: 1000px;
	background-size: cover;
	background-position: top;
	margin-top: -220px;
}

.section_6.light{
	background-image: url("../img/section_6_BG_light.svg");
	transition: all .6s;
}

.section_6.dark{
	background-image: url("../img/section_6_BG_dark.svg");
	transition: all .6s;
}

/* ------------section_6 Content------------- */

.wrapper_6{
	width: 100vw;
	margin: 0 auto;
	padding-top: 320px;
}

.wrapper_6 .content{
	width: 80vw;
	height: 450px;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	overflow: hidden;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.wrapper_6 .content.light{
	background: #FFFFFF;
	transition: all .6;
}

.wrapper_6 .content.dark{
	background: #27262C;
	transition: all .6;
}

.wrapper_6 h2{	
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	text-align: center;
}

.wrapper_6 h2.light{
	color: #280E5F;;
	transition: all .6s;
}

.wrapper_6 h2.dark{
	color: #936CF7;
	transition: all .6s;
}

.wrapper_6 p{	
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;	
	text-align: center;
}

.wrapper_6 p.light{
	color: #7B6FAB;;
	transition: all .6s;
}

.wrapper_6 p.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.section_6 img{
	width: 300px;
	border-radius: 15px;
}

/* =======================section_7======================= */

.section_7{
	height: 510px;
}

/* ------------section_7 Content------------- */

.wrapper_7{
	width: 100vw;
	height: 500px;
	margin: 0 auto;
	display: flex;
	margin-top: 30px;
}

.wrapper_7 .content{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10vw ;
}

.wrapper_7 h1{
	text-align: left;
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	margin-bottom: 20px;
}

.wrapper_7 h1.light{
	color: #280E5F;
	transition: all .6s;
}

.wrapper_7 h1.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.wrapper_7 h2{	
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 40px;
}

.wrapper_7 h2.light{
	color: #7B6FAB;
	transition: all .6s;
}

.wrapper_7 h2.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.contentBtn{
	display: flex;
}

.contentBtn .mainBtn{
	width: 200px;
	height: 46px;
	background-color: #5EC4D1;
	font-weight: 600;
	font-size: 16px;
	line-height: 46px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	margin-right: 25px;
	text-align: center;
}

.contentBtn .mainBtn.light{
	color: #FFFFFF;
	transition: all .6s;
}

.contentBtn .mainBtn.dark{
	color: #191326;
	transition: all .6s;
}

.contentBtn .secondBtn{
	width: 160px;
	height: 42px; /* border, so top & botton - 4px */
	font-weight: 600;
	font-size: 16px;
	line-height: 42px;
	color: #5EC4D1;
	border: 2px solid #5EC4D1;
	filter: drop-shadow(0px 8px 8px rgba(215, 228, 227, 0.08)) drop-shadow(0px 8px 16px rgba(215, 228, 227, 0.08));
	border-radius: 20px;
	text-align: center;
}

.wrapper_7 .contentImg{
	width: 50%;
	background-image: url("../img/section_7_Img.png");
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
}

/* =======================section_8======================= */

.section_8{
	width: 100vw;
	position: absolute;
}

/* ------------section_8 Content------------- */

.wrapper_8{
	margin-top: 40px;
}

.wrapper_8 h2{
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	text-align: center;
}

.wrapper_8 h2.light{
	color: #280E5F;
	transition: all .6s;
}

.wrapper_8 h2.dark{
	color: #936CF7;
	transition: all .6s;
}

.wrapper_8 p{	
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
}

.wrapper_8 p.light{
	color: #7B6FAB;
	transition: all .6s;
}

.wrapper_8 p.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.learn{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	align-items: center;
	text-align: center;
	color: #1DC7D3;
	margin-top: 45px;
	margin-bottom: 15px;
}

.wrapper_8 .connectBtn{
	width: 200px;
	height: 46px;
	border: 0;
	background-color: #5EC4D1;
	font-weight: 600;
	font-size: 16px;
	line-height: 46px;
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	margin: 0 auto;
}

/* .connectBtn.light{
	color: #FFFFFF;
	transition: all .6s;
}

.connectBtn.dark{
	color: #191326;
	transition: all .6s;
} */

/* =======================section_9======================= */

.section_9{
	width: 100vw;
	height: 940px;
	background-size: cover;
	background-position: top;
	z-index: -1;
	position: absolute;
}

.section_9.light{
	color: #333;
	background-image: url("../img/section_9_BG_light.svg");
	transition: all .6s;
}

.section_9.dark{
	color: #F3EEFE;
	background-image: url("../img/section_9_BG_dark.svg");
	transition: all .6s;
}

.wrapper_9{
	margin-top: 350px;
}

.section_9 .logo{
	display: block;
	height: 50px;
	float: right;
	margin-right: 10vw;
	padding-top: 50px;
}

.section_9 .list{
	display: flex;
	clear:both;
	padding-top: 5px;
}

.section_9 .list ul{
	margin-left: 10vw;

}

.section_9 .list li{
	flex-grow: 1;

	font-weight: 500;
	font-size: 14px;
	line-height: 40px;
}

.section_9 .list li:first-child{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.section_9 .socialMedia ul{
	display: flex;
	margin-top: 60px;
}

.section_9 .socialMedia li:first-child{
	margin-left: 10vw;
}

.section_9 .socialMedia img{
	width: 44px;
	display: block;
	text-align: left;
	margin-right: 15px;
}

/* =======================tibame======================= */

.tibame{
	text-align: center;
	margin-top: 880px;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
}

/* =======================dialog======================= */

	button{
		cursor: pointer;
	}

	#lightbox{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 11;
	}

	.none{
		display: none;
	}
  
	#lightbox > .dialog{
		background-color: white;
		width: 90%;
		max-width: 800px;
		border-radius: 30px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		position: absolute;
		border: none;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 11;
		overflow: hidden;
	}

	/* dialog{
		width: 897px;
		padding: 0;
		border: none;
		border-radius: 30px;
		position: fixed;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	} */

	/* dialog::backdrop {
		background-color: rgba(0, 0, 0, 0.6);
	}
	*/
.dialogContent{
	display: flex;
	width: 100%;
	height: 100%;
}

.dialogContent.light{
	background: linear-gradient(283.37deg, #F6E9F7 3.17%, #FDF2ED 100.01%);
}

.dialogContent.dark{
	background: #3B3D4F;
}

.connectWallet{
	width: 50%;
	padding: 45px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	box-sizing: border-box;
}

.connectWallet.light{
	background: #FFFFFF;
	transition: all .6;
}

.connectWallet.dark{
	background: #27262C;
	transition: all .6;
}

.connectWallet h2{
	font-weight: 700;
	font-size: 22px;
	line-height: 54px;
}

.connectWallet h2.light{
	color: #250F5B;
	transition: all .6;
}

.connectWallet h2.dark{
	color: #F4EEFF;
	transition: all .6;
}

.connectWallet p{
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
}

.connectWallet p.light{
	color: #7B6FAB;
}

.connectWallet p.dark{
	color: #B6ADCF;
}

.wallets ul{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.connectWallet .wallets li{
	flex-grow: 1;
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px 0 0;
	box-sizing: border-box;
}

.connectWallet.light .wallets li:hover{
	background-color: #E6E3EA;
}

.connectWallet.dark .wallets li:hover{
	background-color: #353546;
}


.wallets .wallet{
	width: 100px;
	height: 100px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	box-sizing: border-box;
}

.wallets .wallet p{
	position: absolute;
	bottom: 10px;
	left: 50%;
  	transform: translate(-50%, 0);
}

.wallets .wallet p.light{
	color: #250F5B;
}

.wallets .wallet p.dark{
	color: #F3EEFE;
}

.moreWallet{
	width: 65px;
	height: 65px;
	position: absolute;
	left: 50%;
  	transform: translate(-50%, 0);
}

.moreWallet.light{
	background-image: url("../img/wallets/More_light.png");
}

.moreWallet.dark{
	background-image: url("../img/wallets/More_dark.png");
}

.learnConnect{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 45px;
	box-sizing: border-box;
}

.learnConnect h2{
	font-weight: 700;
	font-size: 22px;
	line-height: 54px;
}

.learnConnect h2.light{
	color: #250F5B;
}

.learnConnect h2.dark{
	color: #936CF7;
}

.walletImg{
	width: 100%;
	margin-top: 20px;
	flex-grow: 1;
	background-image: url(../img/wallet.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.walletImg img{
	width: 100%;
}

.learnConnectBtn{
	width: 248px;
	height: 54px;
	border: 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 46px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}

.learnConnectBtn.light{
	background-color: #786EA6;
	color: #FFFFFF;
}

.learnConnectBtn.dark{
	background-color: #B6ADCF;
	color: #27262C;
}



/* =======================index end======================= */
/* =======================index end======================= */
/* =======================index end======================= */

/* ------------subMenu------------- */

.subMenu{
	width: 100%;
	margin-top: 70px;
}

.subMenu ul{
	width: 500px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.subMenu li{
	flex-grow: 1;
	height: 50px;
	font-weight: 500;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	margin: 0 10px;
}

.subMenu.light li a{
	color: #7a6eaa;
	transition: all .6;
}

.subMenu.dark li a{
	color: #b8add2;
	transition: all .6;
}

/* li:hover{
	background-color: #02C708;
	transition: all 0.3s;
	background-clip: padding-box;
}

li:visited{
	font-weight: 700;
	color: #7645D9;
} */


/* ------------Farm Content------------- */

.banner{
	height: 212px;
	background-size: cover;
	display: flex;
}

.banner.light{
	background-image: url(../img/banner_light.svg);
	transition: all .6;
}

.banner.dark{
	background-image: url(../img/banner_dark.svg);
	transition: all .6;
}

.text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

.text h1{
	font-weight: 700;
	font-size: 48px;
	line-height: 54px;
	margin-left: 150px;
}

.text h1.light{
	color: #7645D9;
	transition: all .6;
}

.text h1.dark{
	color: #936CF7;
	transition: all .6;
}

.text h2{
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	margin-left: 150px;
}
	
.text h2.light{
	color: #280E5F;
	transition: all .6;
}
	
.text h2.dark{
	color: #F3EEFE;
	transition: all .6;
}

.bannerImg img{
	width: 300px;
	flex-grow: 1;
	margin-right: 150px;
	margin-top: -50px;
	display: block;
}

.wrapperEarn{
	width: 100vw;
	margin: 0 auto;
	margin-top: 30px;
}

.wrapperEarn .card{
	width: 90%;
	padding-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.farm{
	width: 280px;
	position: relative;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 25px;
	margin: 20px;
}

.farm.light{
	background: #FFFFFF;
	transition: all .6s;
}

.farm.dark{
	background: #27262C;
	transition: all .6s;
}

.farm .coinLogo{
	position: absolute;
	width: 55px;
	top: 50px;
	left: 50px;
	border-radius: 100px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.farm .subCoinLogo{
	position: absolute;
	width: 40px;
	top: 35px;
	left: 25px;
}

.pair{
	position: absolute;
	right: 0;
	top: 30px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin-right: 25px;
}

.pair.light{
	color: #280E5F;
	transition: all .6;
}

.pair.dark{
	color: #936CF7;
	transition: all .6;
}

.farm .container{
	position: relative;
	width: 100%;
	margin-top: 100px;
}

.apr, .earn{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.apr h5, .earn h5{
	flex-grow: 1;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}

.apr h5.light, .apr .decoration.light, .earn h5.light, .earn .fee.light{
	color: #280d5f;
	transition: all .6;
}

.apr h5.dark, .apr .decoration.dark, .earn h5.dark, .earn .fee.dark{
	color: #F3EEFE;
	transition: all .6;
}

.apr .upTo{
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #1DC7D3;
	margin-right: 10px;
}

.apr .decoration{
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	text-decoration-line: line-through;
}

.earn .fee{
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}

.farmEarned{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.farmEarned h6{
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
}

.farmEarned h6.light{
	color: #7645D9;
	transition: all .6;
}

.farmEarned h6.dark{
	color: #936CF7;
	transition: all .6;
}

.farmEarned p{
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #B6B6B6;
}

.yield{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.yield h6{
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	color: #7A6EAA;
}

.yield p{
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
}

.yield p.light{
	color: #280D5F;
	transition: all .6;
}

.yield p.dark{
	color: #F3EEFE;
	transition: all .6;
}

.farm .connect{
	width: 100%;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	margin-top: 20px;
}

.farm .connect.light{
	color: #7A6EAA;
	transition: all .6;
}

.farm .connect.dark{
	color: #958BBB;
	transition: all .6;
}

.farm .staked{
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
}

.farm .staked.light{
	color: #7645D9;
	transition: all .6;
}

.farm .staked.dark{
	color: #936CF7;
	transition: all .6;
}

.action{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.action .connectBtn{
	width: 100%;
	height: 46px;
	border: 0;
	background-color: #5EC4D1;
	font-weight: 700;
	font-size: 16px;
	line-height: 46px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	margin-top: 30px;
}

.line{
	width: 100%;
	border: 0.5px solid #B9B9B9;
	margin: 20px 0;
}

.details{
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #5EC4D1;
}


/* ------------Pools Content------------- */
.wrapperEarn{
	margin-bottom: -300px;
}

.wrapperEarn .pool{
	width: 280px;
	position: relative;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 25px;
	margin: 20px;
}

.wrapperEarn .pool.light{
	background: #FFFFFF;
	transition: all .6s;
}

.wrapperEarn .pool.dark{
	background: #27262C;
	transition: all .6s;
}

.wrapperEarn .pool .coinLogo{
	position: absolute;
	width: 55px;
	left: auto;
	right: 40px;
	top: 35px;
}

.wrapperEarn .pool .subCoinLogo{
	position: absolute;
	width: 35px;
	top: 65px;
	left: auto;
	right: 30px;
	border-radius: 100px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.wrapperEarn .stake{
	position: absolute;
	left: 30px;
	top: 50px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.wrapperEarn .stake.light{
	color: #280E5F;
	transition: all .6;
}

.wrapperEarn .stake.dark{
	color: #936CF7;
	transition: all .6;
}

.wrapperEarn .stakeMore{
	position: absolute;
	left: 30px;
	top: 75px;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}

.wrapperEarn .stakeMore.light{
	color: #786EA6;
	transition: all .6;
}

.wrapperEarn .stakeMore.dark{
	color: #B6ADCF;
	transition: all .6;
}

.wrapperEarn .pool .container{
	width: 100%;
	margin-top: 120px;
	padding: 20px;
	justify-content: center;
	align-items: center; 
	border-radius: 15px;
	box-sizing: border-box;
}

.wrapperEarn .pool .container.light{
	background: #FAF9FA;
	border: 1px solid #E6E3EA;
	transition: all .6;
}

.wrapperEarn .pool .container.dark{
	background: #08060B;
	border: 1px solid #373240;
	transition: all .6;
}

.flexibleApy, .lockedApr{
	display: flex;
	width: 100%;
	height: 18px;
	align-items: center;
}

.container .flexibleApy .h5, .container .lockedApr .h5{
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	flex-grow: 1;
}

.container .flexibleApy .h5.light, .container .lockedApr .h5.light{
	color: #786EA6;
	transition: all .6;
}

.container .flexibleApy .h5.dark, .container .lockedApr .h5.dark{
	color: #B6ADCF;
	transition: all .6;
}

.container .flexibleApy .ratial, .container .lockedApr .ratial{
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
}

.container .flexibleApy .ratial.light, .container .lockedApr .ratial.light{
	color: #280d5f;
	transition: all .6;
}

.container .flexibleApy .ratial.dark, .container .lockedApr .ratial.dark{
	color: #F3EEFE;
	transition: all .6;
}

.startEarn{
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	margin-top: 30px;
	margin-left: 5px;
	margin-bottom: -15px;
}

.startEarn.light{
	color: #786EA6;
	transition: all .6;
}

.startEarn.dark{
	color: #B6ADCF;
	transition: all .6;
}

/* ------------NFT Marketing Place------------- */

.topTrading{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.topTrading h2{
	font-weight: 700;
	font-size: 24px;
	line-height: 54px;
	margin: 30px 0 10px;
}

.topTrading h2.light{
	color: #280E5F;
	transition: all .6s;
}

.topTrading h2.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.tradingList{
	display: flex;
	width: 100%;
}

.tradingList .listLeft, .tradingList .listRight{
	flex-grow: 1;
	margin: 0 20px;
}

.column{
	/* background-color: #1DC7D3; */
	display: flex;
	margin: 10px;
	padding: 0 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.column .collection{
	flex-grow: 1;
}

.column .floorPrice, .column .volume{
	width: 120px;
	text-align: right;
}

.column.light{
	color: #7B6FAB;
	transition: all .6;
}

.column.dark{
	color: #B6ADCF;
	transition: all .6;
}

.topTrading .list{
	display: flex;
	align-items: center;
	margin: 0 10px 25px;
	padding: 5px 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	border-radius: 15px;
/* 	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
}

.topTrading .list.light{
	color: #250F5B;
	transition: all .6;
}

.topTrading .list.dark{
	color: #F3EEFE;
	transition: all .6;
}

.topTrading .list .num{
	width: 30px;
	text-align: left;
}

.topTrading .list .topImg{
	width: 68px;
	height: 68px;
	border-radius: 15px;
}

.topTrading .list .topName{
	flex-grow: 1;
	text-align: left;
	margin-left: 20px;
}

.topTrading .list .topPrice, .topTrading .list .topVolume{
	width: 120px;
	text-align: right;
}

.notable{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.topBuysToday{
	width: 100%;
	margin: 0 auto;
	margin-bottom: -300px;
}

.notable h2, .topBuysToday h2{
	display: block;
	width: 90%;
	font-weight: 700;
	font-size: 24px;
	line-height: 54px;
	margin: 0px auto;
	margin-bottom: 20px;
}

.notable h2.light{
	color: #280E5F;
	transition: all .6s;
}

.notable h2.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.nftCard{
	width: 300px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	margin-bottom: 10px; /* for shadow show */
	overflow: hidden;
}

.nftCard.light{
	background: #fff;
	transition: all .6;
}

.nftCard.dark{
	background: #27262C;
	transition: all .6;
}

.notable img, .topBuysToday img{
	width: 300px;
}

.nftCard img{
	width: 300px;
}

.nftCard .h3{
	padding: 15px;
	padding-bottom: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
}

.nftCard .h3.light{
	color: #280E5F;
	transition: all .6;
}

.nftCard .h3.dark{
	color: #936CF7;
	transition: all .6;
}

.nftContent{
	display: flex;
	padding: 15px;
	box-sizing: border-box;
}

.notableFloor, .notableVolume{
	flex-grow: 1;
}

.notableFloor h4, .notableVolume h4{
	font-weight: 500;
	font-size: 12px;
	line-height: 22px;
	text-align: left;
}

.notableFloor h4.light, .notableVolume h4.lught{
	color: #333;
	transition: all .6;
}

.notableFloor h4.dark, .notableVolume h4.dark{
	color: #F3EEFE;
	transition: all .6;
}

.notableFloor p, .notableVolume p{
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
}

.notableFloor p.light, .notableVolume p.lught{
	color: #280E5F;
	transition: all .6;
}

.notableFloor p.dark, .notableVolume p.dark{
	color: #F3EEFE;
	transition: all .6;
}


/* ------------nftProduct------------- */

.productBanner{
	height: 212px;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.productBanner.light{
	background-image: url(../img/banner_light.svg);
	transition: all .6;
}

.productBanner.dark{
	background-image: url(../img/banner_dark.svg);
	transition: all .6;
}

.nftMenu{
	width: 100%;
	margin-bottom: -60px;
}

.nftMenu ul{
	width: 90%;
	height: 60px;
	display: flex;
	margin: 0 auto;
}

.nftMenu li{
	height: 40px;
	font-weight: 600;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	margin-top: 6px;
}

.nftMenu.light li a{
	display: block;
	position: relative;
	z-index: 5;
	padding: 5px 10px;
	color: #7a6eaa;
	border-radius: 10px;
}

.nftMenu.dark li a{
	display: block;
	position: relative;
	z-index: 5;
	padding: 5px 10px;
	color: #b8add2;
	border-radius: 10px;
}

.productImg{
	width: 90%;
	margin: 0 auto;
}

.productImg img{
	display: block;
	width: 220px;
	margin-top: 50px;
	padding: 10px;
	border-radius: 15px;
}

.productImg img.light{
	background-color: #fff;
	transition: all .6;
}

.productImg img.dark{
	background-color: #1A142A;
	transition: all .6;
}

.productImg h1{
	display: block;
	font-weight: 600;
	font-size: 36px;
	line-height: 1.5;
	margin-top: 0px;
	margin-left: 10px;
}

.productImg h1.light{
	color: #7645D9;
	transition: all .6s;
}

.productImg h1.dark{
	color: #936CF7;
	transition: all .6s;
}

.nftInfo{
	width: 90%;
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	margin-top: 150px;
}

.nftInfo p, .nftDiscript p{
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	margin-left: 10px;
}

.nftInfo .itemsNum.light, .nftInfo .createTime.light{
	color: #250F5B;
	transition: all .6;
}

.nftInfo .items.light, .nftInfo .create.light{
	color: #786EA6;
	transition: all .6;
}

.nftInfo .itemsNum.dark, .nftInfo .createTime.dark{
	color: #F3EEFE;
	transition: all .6;
}

.nftInfo .items.dark, .nftInfo .create.dark{
	color: #B6ADCF;
	transition: all .6;
}

.nftDiscript{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

.nftDiscript p{
	display: block;
	width: 50%;
}

.nftProducts{
	width: 90%;
	margin: 0 auto;
	margin-bottom: -325px;
}

.nftProducts .content{
	display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 24%);
    grid-gap: 10px;
}

.nftProducts .nftCard{
	width: 100%;
	margin: 15px 0;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nftProducts .nftCard img{
	width: 100%;
}

/* ------------nftSelect------------- */

.buyNFTBanner{
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	background-position:calc(20% + 0px);
	flex-direction: column;
	padding-bottom: 70px;
}

.buyNFTBanner.light{
	background-image: url(../img/banner_light.svg);
	transition: all .6;
}

.buyNFTBanner.dark{
	background-image: url(../img/banner_dark.svg);
	transition: all .6;
}

.buyNftTitle{
	width: 90%;
	margin: 0 auto;
}

.buyNftTitle h2{
	display: block;
	width: 90%;
	font-weight: 700;
	font-size: 24px;
	line-height: 54px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.buyNftTitle h2.light{
	color: #280E5F;
	transition: all .6s;
}

.buyNftTitle h2.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.nftBuy{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 0px;
	border-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nftBuy.light{
	background: #FFFFFF;
	transition: all .6;
}

.nftBuy.dark{
	background: #27262C;
	transition: all .6;
}

.nftBuyImg{
	width: 520px;
	display: flex;
	align-items: center;
}	

.nftBuyImg img{
	width: 100%;
	border-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nftBuyDiscript{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 20px;
	box-sizing: border-box;
}

.discriptContent{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nftBuyDiscript h1{
	font-weight: 700;
	font-size: 40px;
	line-height: 24px;
	margin-top: 50px;
	margin-left: 10px;
	margin-bottom: 20px;
}

.nftBuyDiscript h1.light{
	color: #7645D9;
	transition: all .6;
}

.nftBuyDiscript h1.dark{
	color: #936CF7;
	transition: all .6;
}

.nftBuyDiscript .owned{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin-left: 10px;
	margin-bottom: 60px;
}

.nftBuyDiscript .owned.light{
	color: #786EA6;
	transition: all .6;
}

.nftBuyDiscript .owned.dark{
	color: #B6ADCF;
	transition: all .6;
}

.nftBuyDiscript .owner.light{
	color: #250F5B;
	transition: all .6;
}

.nftBuyDiscript .owner.dark{
	color: #F3EEFE;
	transition: all .6;
}

.nftBuyDiscript .prince{
	display: flex;
}

.nftBuyDiscript .currentPrince{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	margin-left: 10px;
	margin-bottom: 15px;
}

.nftBuyDiscript .currentPrince.light{
	color: #7645D9;
	transition: all .6;
}

.nftBuyDiscript .currentPrince.dark{
	color: #B8ADD2;
	transition: all .6;
}

.nftBuyDiscript .listenPrince{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	margin-left: 10px;
	margin-bottom: 15px;
}

.nftBuyDiscript .listenPrince.light{
	color: #7645D9;;
	transition: all .6;
}

.nftBuyDiscript .listenPrince.dark{
	color: #B8ADD2;
	transition: all .6;
}

.nftBuyDiscript .price{
	font-weight: 500;
	font-size: 36px;
	line-height: 24px;
	margin-left: 10px;
	margin-bottom: 30px;
}

.nftBuyDiscript .price.light{
	color: #280E5F;
	transition: all .6;
}

.nftBuyDiscript .price.dark{
	color: #F3EEFE;
	transition: all .6;
}

.buyNftBtn{
	width: 100%;
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: flex-end;
}

.buyNftBtn .mainBtn{
	width: 200px;
	height: 46px;
	border: 0;
	font-weight: 700;
	line-height: 46px;
	background: #5EC4D1;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	margin-left: 5px;
	margin-right: 20px;
}

.buyNftBtn .mainBtn.light{
	color: #FFFFFF;
	transition: all .6s;
}

.buyNftBtn .mainBtn.dark{
	color: #191326;
	transition: all .6s;
}

.buyNftBtn .secondBtn{
	width: 140px;
	height: 46px; /* border, so top & botton - 4px */
	font-weight: 600;
	font-size: 16px;
	color: #5EC4D1;
	border: 2px solid #5EC4D1;
	background: rgba(0, 0, 0, 0);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	text-align: center;
}

.moreFromThis{
	width: 100%;
	margin: 0 auto;
	margin-bottom: -300px;
}

.moreFromThis h2{
	display: block;
	width: 90%;
	font-weight: 700;
	font-size: 24px;
	line-height: 54px;
	margin: 0px auto;
	margin-bottom: 20px;
}

.moreFromThis h2.light{
	color: #280E5F;
	transition: all .6s;
}

.moreFromThis h2.dark{
	color: #F3EEFE;
	transition: all .6s;
}

.nftSubContent{
	width: 90%;
	display: flex;
	margin: 0 auto;
	padding: 20px;
}

.nftLeftContent{
	width: 520px;
	display: flex;
	flex-direction: column;
}

.nftProperties{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nftProperties.light{
	background: #FFFFFF;
	transition: all .6;
}

.nftProperties.dark{
	background: #27262C;
	transition: all .6;
}

.properties{
	width: 520px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.properties h3{
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 20px;
}

.properties h3.ligh{
	color: #250F5B;
	transition: all .6;
}

.properties h3.dark{
	color: #F4EEFF;
	transition: all .6;
}

.properties .type{
	display: flex;
	margin: 5px 0;
}

.properties .type p{
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
}

.properties .type p:first-child.light{
	flex-grow: 1;
	color: #786EA6;
	margin-right: 20px;
	transition: all .6;
}

.properties .type p.light{
	color: #250F5B;
	margin-right: 5px;
	transition: all .6;
}

.properties .type p:last-child.light{
	width: 68px;
	color: #936CF7;
	margin-right: 0px;
	transition: all .6;
}

.properties .type p:first-child.dark{
	flex-grow: 1;
	color: #B6ADCF;
	margin-right: 20px;
	transition: all .6;
}

.properties .type p.dark{
	color: #F3EEFE;
	margin-right: 5px;
	transition: all .6;
}

.properties .type p:last-child.dark{
	width: 68px;
	color: #936CF7;
	margin-right: 0px;
	transition: all .6;
}




.nftBuyInfo{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nftBuyInfo.light{
	background: #FFFFFF;
	transition: all .6;
}

.nftBuyInfo.dark{
	background: #27262C;
	transition: all .6;
}

.buyInfo{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.buyInfo h3{
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 20px;
}

.buyInfo h3.ligh{
	color: #250F5B;
	transition: all .6;
}

.buyInfo h3.dark{
	color: #F4EEFF;
	transition: all .6;
}

.buyInfo .infoText{
	width: 100%;
	height: 100%;
	display: block;
	font-size: 14px;
	line-height: 24px;
	overflow: auto;
	white-space: normal;
	text-overflow: ellipsis;
}

.buyInfo .infoText p{
	display: block;
	margin-bottom: 10px;
}

.buyInfo .infoText p.light{
	color: #786EA6;
	transition: all .6;
}

.buyInfo .infoText p.dark{
	color: #B6ADCF;
	transition: all .6;
}



.nftListings{
	flex-grow: 1;
	width: 30%;
	margin: 0 auto;
	margin-left: 60px;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nftListings.light{
	background: #FFFFFF;
	transition: all .6;
}

.nftListings.dark{
	background: #27262C;
	transition: all .6;
}

.listings{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.listings h3{
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 20px;
}

.listings h3.ligh{
	color: #250F5B;
	transition: all .6;
}

.listings h3.dark{
	color: #F4EEFF;
	transition: all .6;
}

.listings .column{
	/* background-color: #1DC7D3; */
	display: flex;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
}

.listings .column .collection{
	flex-grow: 1;
}

.listings .column .volume{
	width: 120px;
	text-align: right;
}

.listings .column .columnFrom{
	width: 200px;
	text-align: right;
	margin-left: 20px;
}

.listings .column.light{
	color: #7B6FAB;
	transition: all .6;
}

.listings .column.dark{
	color: #B6ADCF;
	transition: all .6;
}

.listings .list{
	display: flex;
	flex-grow: 1;
	align-items: center;
	margin: 0 0 15px;
	padding: 5px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	border-radius: 15px;
/* 	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
}

.listings .list.light{
	color: #250F5B;
	transition: all .6;
}

.listings .list.dark{
	color: #F3EEFE;
	transition: all .6;
}

.listings .list .num{
	width: 30px;
	text-align: left;
}

.listings .list .topImg{
	width: 68px;
	height: 68px;
	border-radius: 15px;
}

.listings .list .topName{
	flex-grow: 1;
	text-align: left;
	margin-left: 20px;
}

.listings .list .topPrice{
	width: 120px;
	text-align: right;
}

.listings .list .from{
	width: 200px;
	margin-left: 20px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* ------------Footer------------- */

footer{
	width: 100%;
	height: 65px;
	position: fixed;
	display: none;
	z-index: 10;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	transition: top 0.4s ease-in-out;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.section_10{
	width: 100%;
	height: 70px;
	display: flex;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
	justify-content:center;
}

.section_10.light, .phoneMenu.light{
	background-color:#FFF ;
	transition: all .6s;
}

.section_10.dark, .phoneMenu.dark{
	background-color:#27262C ;
	transition: all .6s;
}

.section_10 ul{
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.section_10 li{
	width: 50px;
	flex-grow: 1;
	text-align: center;
}

.section_10 .material-icons{
	line-height: 32px;
}

.phoneMenu{
	width: 100%;
	border: 0;
}

.iconStyle .material-icons{
	font-size: 24px;
}

.iconStyle.light .material-icons{
	color: #786EA6;
	transition: all .6s;
}

.iconStyle.dark .material-icons{
	color: #B6ADCF;
	transition: all .6s;
}

.iconStyle p{
	font-size: 14px;
}

.iconStyle.light p{
	color: #786EA6;
	transition: all .6s;
}

.iconStyle.dark p{
	color: #B6ADCF;
	transition: all .6s;
}

.phoneMenu a{
	width: 100%;
	display: block;
}

/* ------------trade------------- */


/* .connectBtn.light{
	color: #FFFFFF;
	transition: all .6s;
}

.connectBtn.dark{
	color: #191326;
	transition: all .6s;
}
 */


/* wallet box */
.walletBtn-box {
	width: 200px;
	height: 46px;
	border: 0;
	position: absolute;
	top: 12px;
	right: 30px;
	display: none;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.walletBtn-box.light{
	background: #FFE0B2;
	background: linear-gradient(35.98deg, rgba(255, 224, 178, 0.7) 10.29%, rgba(219, 87, 156, 0.7) 36.39%, rgba(156, 39, 176, 0.7) 64.52%, rgba(255, 152, 0, 0.7) 98.93%);
	background-size: 200% 200%;
	border-radius: 20px;
	transition: ease-in all .5s;
	animation: wallet-box infinite alternate 5s;
	transition: all .6;
}


.walletBtn-box.dark{
  	background: rgb(85,0,255);
  	background: linear-gradient(90deg, rgba(85,0,255,1) 35%, rgba(214,0,255,1) 100%);
	background-size: 200% 200%;
	border-radius: 20px;
	transition: ease-in all .5s;
	animation: wallet-box infinite alternate 5s;
	transition: all .6;
}

.walletBtn-box:hover{
	cursor: pointer;
}
  
@keyframes wallet-box{
	0%{		
		background-position: 0% 50%;
	}
	100%{
		background-position: 100% 70%;
  	}
}

.walletBtn-box_address{
	position: relative;
	/* box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); */
	cursor: pointer;
	outline: none;
	display: flex;
}

.walletBtn-box_address:focus + .walletMenu_list {
	opacity: 1;
	-webkit-animation-name: none;
			animation-name: none;
}

.walletBtn-box_address:focus + .walletMenu_list .walletMenu {
	cursor: pointer;
}

.walletBtn-box_address:focus .walletBtn-box_icon {
	transform: translateY(-50%) rotate(180deg);
}
 
.walletBtn-box_address .walletBtn-box_icon{
	position: absolute;
	top: 50%;
	left: auto;
	right: 10px;
	transform: translateY(-50%);
	width: 30px;
	transition: 0.2s ease;
}

.walletBtn-box-text{
	width: 75%;
	margin: 0;
	padding: 0 15px;
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	line-height: 46px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
}

.walletMenu_list{
	margin-top: 20px;
	position: absolute;
	right: 0px;
	width: 250px;
	padding: 0;
	border-radius: 20px;
	overflow: hidden;
	list-style: none;
	opacity: 0;
	-webkit-animation-name: HideList;
			animation-name: HideList;
	-webkit-animation-duration: 0.5s;
			animation-duration: 0.5s;
	-webkit-animation-delay: 0.5s;
			animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-timing-function: step-start;
			animation-timing-function: step-start;
	box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.walletMenu_list.light{
	color: #786EA6;
	background-color: #FFF;
}

.walletMenu_list.dark{
	color: #B6ADCF;
	background-color: #27262C;
}

.walletMenu_list.light li:last-child{
	border-top: solid  1px  #E6E3EA;
}

.walletMenu_list.dark li:last-child{
	border-top: solid 1px  #373240;
}

.walletMenu{
	width: 100%;
	display: block;
	padding: 20px 30px;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
	box-sizing: border-box;
}
  
.walletMenu_list.light .walletMenu:hover{
	background-color: #F0F4F5;
}

.walletMenu_list.dark .walletMenu:hover{
	background-color: #353546;
}
  
@-webkit-keyframes HideList {
	from{
		transform: scaleY(1);
	}
	to{
		transform: scaleY(0);
	}
}
  
@keyframes HideList {
	from{
		transform: scaleY(1);
	}
	to{
		transform: scaleY(0);
	}
}





/* --------------a--------------- */

a:link{
	text-decoration: none;
}
/* 已連結過 */
a:visited{
	text-decoration: none;
}
/* 滑鼠移至連結 */
a:hover.light{
	display:block;
	background-color: #F0F4F5;
	transition: all 0.3s;
}
a:hover.dark{
	display:block;
	background-color: #353546;
	transition: all 0.3s;
}
/* nav 滑鼠移至連結 */
.nav a:hover.light{
	background-color: #F0F4F5;
	transition: all 0.6s;
}
.nav a:hover.dark{
	background-color: #353546;
	transition: all 0.6s;
}
/* NFT list 滑鼠移至連結 */
.topTrading .list:hover.light{
	background-color: #F0F4F5;
	transition: all .3s;
}
.topTrading .list:hover.dark{
	background-color: #353546;
	transition: all .3s;
}
/* back 滑鼠移至連結 */
.nftMenu a:hover.light{
	color: #7645D9;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.3s;
}
.nftMenu a:hover.dark{
	color: #936CF7;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.3s;
}
/* 選擇的連結 */
a.active{
	display:block;
	font-weight: 700;
	border-bottom: 3px solid #FFA800;
	box-sizing: border-box;
}
/* nav 選擇的連結 */
.nav li a.active{
	display:block;
	font-weight: 800;
	border-bottom: 0px solid #FFA800;
	box-sizing: border-box;
}
/* footer 選擇的連結 */
.section_10 .material-icons.active, .section_10 p.active{
	color:  #FFA800;
}